/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #ff3cac !important;
}*/

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #ff3cac !important;
}
/* Sidebar */
.sidebar {
    width: 240px;
    background: #ff3cac;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px 0;
    cursor: pointer;
}

    .sidebar li.active {
        font-weight: bold;
        background: rgba(255, 255, 255, 0.2);
        padding-left: 10px;
        border-radius: 4px;
    }

.settings {
    margin-top: auto;
    padding-top: 20px;
}
